<section class="flex-center flex-column">
<h2>Login</h2>

  <mat-card appearance="raised">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error>Please provide a valid email address</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" style="width: 100%">Login</button>

        <p class="create-account">No Account? <span routerLink="/signup">Signup</span></p>

    </form>

    <div class="divider flex-center-row">
      <span>or</span>
    </div>

    <mat-card-actions class="flex-column">
      <button mat-button color="primary" (click)="registerWithGoogle()">
        <span class="social-button"> <i class="google-icon social-icon"></i>Login with Google</span>
      </button>

      <button mat-button color="primary" (click)="registerWithGithub()">
        <span class="social-button"> <i class="github-icon social-icon"></i>Login with Github</span>
      </button>
    </mat-card-actions>
  </mat-card>
  @if (errorMessage) {
    <div style="color: #C21A1A">{{ errorMessage }}</div>
  }
</section>

