<h2>Login</h2>
<section class="flex-center">

  <mat-card appearance="raised">
@if (errorMessage){
  <div>{{errorMessage}}</div>
}

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
  </mat-card>
</section>

<button mat-raised-button color="primary" (click)="registerWithGoogle()">Login with Google</button>
<button mat-raised-button color="primary" (click)="registerWithGithub()">Login with Github</button>
