<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon"
            (click)="drawer.toggle()"
            [disabled]="!authService.currentUserSig()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{ title }}</h1>
    <div class="spacer"></div>
    <div class="headerBtnRight">
      <button mat-icon-button class="example-icon" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>
<main>

  <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer
                [opened]="drawerMode === 'side' && !!authService.currentUserSig()"
                class="sidenav"
                [mode]="drawerMode"
    >
      <aside>
        <ul>
          <li [routerLink]="['dashboard']" (click)="closeDrawer()">
            <mat-icon>space_dashboard</mat-icon>
            Dashboard
          </li>
          <li [routerLink]="['projects']" (click)="closeDrawer()">
            <mat-icon>assignment</mat-icon>
            Projects
          </li>
          <li [routerLink]="['employees']" (click)="closeDrawer()">
            <mat-icon>account_circle</mat-icon>
            Employees
          </li>
          <li [routerLink]="['machine-park']" (click)="closeDrawer()">
            <mat-icon>precision_manufacturing</mat-icon>
            Machine Park
          </li>
        </ul>
      </aside>
    </mat-drawer>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</main>

