/* You can add global styles to this file, and also import other style files */

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction !important;
}

.flex-center-row{
  @include flex-center();
}

.flex-column{
  @include flex-center(column);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
